* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; }

.form {
  width: 50%;
  height: 300px;
  background: white;
  box-shadow: 10px 10px 10px 10px gainsboro;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0% auto;
  margin-top: 50px; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px; }

.input {
  width: 600px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid gainsboro; }

.text {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: darkred; }

.btn {
  width: 200px;
  height: 50px;
  background: darkred;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  border: none;
  border-radius: 10px; }
