*{
    box-sizing: border-box;
    padding: 0%;
    margin:0;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    width: 50%;
    height: 500px;
    margin: 0% auto;
}
.shape {
    width: 200px;
    height: 50px;
    background: yellow;
    

}